nav{
    
    
    

    
    
    
    
}

section{
    border: 2px red;
    display: flex;
    justify-content: space-between;
}

form{
    background-color: #F5F5F5;
    
}

.form-buscar__input{
    background-color: #F5F5F5;    
    border: none;
}

.form-buscar__btn{    
    background-color:  #F5F5F5;;
    border: none;
}